@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .section-mobile-menu{
        min-height: calc(100vh - 48px);
    }

    .toggle-btn{
        @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-opacity-0 [&>div]:rotate-[180deg]
    }
}

@layer base{
    html{
        font-family: 'Source Code Pro';
    }
}

nav a:hover{
    text-shadow: 2px 2px 4px #FF00D1;
}

.span_me{
    display: inline-block;
    transition: all 0.5s;
}
.span_me:hover, .span_me:focus{
    color: #FF00D1;
    text-shadow: 3px 3px 5px #54ECC4;
    transform: translateY(-10px);
}

@keyframes brillance{
    0%{
        text-shadow: 0px 0px 0px #54ECC4;
    }
    10%{
        text-shadow: 2px 2px 6px #54ECC4;
    }
    14%{
        text-shadow: 0px 0px 0px #54ECC4;
    }
    18%{
        text-shadow: 2px 2px 2px #FF00D1;
    }
    22%{
        text-shadow: 0px 0px 0px #54ECC4;
    }
    100%{
        text-shadow: 0px 0px 0px #54ECC4;
    }
}

.span_skill{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #54ECC4;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    z-index: 1;
    font-weight: bold;
}

.skill_content:hover .img_skill{
    transform: scale(1.1);
    opacity: 0.8;
    filter: grayscale(1);
}

.skill_content:hover .span_skill{
    opacity: 0.8;
    transform: scale(1);
}

.img_skill_container:hover .github_link{
    right:0;
}

#contact_card{
    perspective: 1000px;
}

#flip_card_inner{
    
    transform-style: preserve-3d;
}

#flip_card_front, #flip_card_back{
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

#flip_card_back{
    transform: rotateY(180deg);
}


.contact_inputbox input:not(:placeholder-shown) ~ span,
.contact_inputbox input:valid ~ span,
.contact_inputbox input:focus ~ span{
    color: #00dfc4;
    transform: translateX(10px) translateY(-6px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: #333;
    border: 1px solid #54ECC4;
    border-radius: 5px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.contact_inputbox input:not(:placeholder-shown),
.contact_inputbox input:valid,
.contact_inputbox input:focus{
    border:1px solid #54ECC4;
    border-radius: 4px;
}

::-webkit-scrollbar{
    height: 0;
    width: 0;
}
